@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root {
  --yellow-color: #d9ff00;
  --greer-color: #61e248;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
html, body {
  height: 100%;
}
.container {
  min-height: 100%; 
  position: relative; 
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--greer-color);
  color: rgb(0, 0, 0);
  padding: 10px 10%;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li {
  padding: 0px 20px;
}

.nav ul .c-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  padding: 10px 15px;
}

.nav ul .c-link:hover {
  color: #ffffff;
}
.nav ul .loginnav {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  padding: 10px 15px;
}

.nav ul .loginnav:hover {
  color: #ffffff;
}
.nav ul .registernav {
  text-decoration:none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  padding: 10px 15px;
}

.nav ul .registernav:hover {
  color: #ffffff;
}


.logo {
  display: block;
  margin-right: auto;
}

.error404 {
  padding: 100px;
  font-size:xx-large;
  text-align: center;
  color:var(--greer-color)
}
.error404 img {
  padding: 10px
}

.welcomeDiv1 {
  color:#ffffff;
  text-align: left;
  padding: 75px 200px;
  background-image: url(/src/sources/img_runners.jpg);
  background-image:
  linear-gradient(45deg,
    rgba(27, 90, 25, 0.836),
    rgba(161, 63, 6, 0.57)), url(/src/sources/img_runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.flexDiv {
  background-image: url(/src/sources/racing_track.jpg);
  background-image:
  linear-gradient(45deg,
    rgba(27, 90, 25, 0.836),
    rgba(161, 63, 6, 0.57)), url(/src/sources/racing_track.jpg);
  display: flex;
}

.welcomeDiv1 p {
  padding : 10px;
  font-size: 25px;
}
.welcomeDiv1 h1 {
  font-size: 75px;
  text-align: center;
  color: var(--yellow-color);
}
.welcomeDiv2 {

  text-align: left;
  padding: 75px 100px;
  background-repeat: no-repeat;
  background-size: cover;
  flex : 1;
 
}
.welcomeDiv2 h1 {
  font-size: 75px;
  text-align:justify;
  color: var(--yellow-color);
}
.flex2 {
  margin: auto;
  
  text-align: center;
}
.animatedLink{
	background-color:transparent;
	border-radius:42px;
	border:2px solid var(--greer-color);
	display:inline-block;
	cursor:pointer;
	color:var(--yellow-color);
	font-size:25px;
	padding:17px 57px;
	text-decoration:none;
  transition: transform 0.2s ease-in-out;
  margin-right: 50px;
}
.animatedLink:hover {
	background-color:var(--greer-color);
  color: #ffffff;
  transform: translateY(-10px);
}
.animatedLink2{
	background-color:transparent;
	border-radius:42px;
	border:2px solid var(--greer-color);
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-size:25px;
	padding:17px 57px;
	text-decoration:none;
  transition: transform 0.2s ease-in-out;
  margin-right: 20px;
}
.animatedLink2:hover {
	background-color:var(--greer-color);
  transform: translateY(-10px);
}


.h11{
  padding-left: 100px;
}
.h22{
  padding-left: 150px;
}
.h33{
  padding-left: 200px;
}
.h44{
  padding-left: 250px;
}
.paper {
  padding: 10px;
  max-width: 300px;
  opacity: 0.9;
  
}
.paperProfile {
  padding: 10px;
  max-width: 300px;
  opacity: 0.9;
  margin: auto;
  margin-top: 100px;
}


.loginBG{
  padding: 150px;
  background-image: url(/src/sources/img_legs.jpg);

}
.paper b {
 

}
.paper h1 {
  font-size: 30px;
}
.hr-line {
  border: none;
  border-top: 1px solid rgb(0, 0, 0);
  margin: 0; 
}
footer {
  background-color: var(--greer-color); 
  color: #000000;
  padding: 30px 0px;
  text-align: center;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav ul {
    margin-top: 10px;
  }

  .nav ul li {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .site-title {
    margin: 10px 0; 
  }
  
}