@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --yellow-color: #d9ff00;
  --greer-color: #61e248;
  --darkgreen-color: #1c630e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
;
}

html,
body {
  height: 100%;
}

.container {
  min-height: 80vh;
  position: relative;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--greer-color);
  color: rgb(0, 0, 0);
  padding: 10px 10%;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li {
  padding: 0px 20px;
}

.nav ul .c-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  padding: 10px 15px;
}

.nav ul .c-link:hover {
  color: #ffffff;
}

.nav ul .loginnav {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  padding: 10px 15px;
}

.nav ul .loginnav:hover {
  color: #ffffff;
}

.nav ul .registernav {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease 0s;
  padding: 10px 15px;
}

.nav ul .registernav:hover {
  color: #ffffff;
}

.trainingDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.logo {
  display: block;
  margin-right: auto;
}

.error404 {
  padding: 100px;
  font-size: xx-large;
  text-align: center;
  color: var(--greer-color)
}

.error404 img {
  padding: 10px
}

.welcomeDiv1 {
  color: #ffffff;
  text-align: left;
  padding: 75px 200px;
  background-image: url(/src/sources/img_runners.jpg);
  background-image:
    linear-gradient(45deg,
      rgba(27, 90, 25, 0.836),
      rgba(161, 63, 6, 0.57)), url(/src/sources/img_runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flexDiv {
  background-image: no-repeat url(/src/sources/racing_track.jpg);
  background-image:
    linear-gradient(45deg,
      rgba(27, 90, 25, 0.836),
      rgba(161, 63, 6, 0.57)), url(/src/sources/racing_track.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcomeDiv1 p {
  padding: 10px;
  font-size: 25px;
}

.welcomeDiv1 h1 {
  font-size: 75px;
  text-align: center;
  color: var(--yellow-color);
}

.welcomeDiv2 {

  text-align: left;
  padding: 75px 100px;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;

}

.welcomeDiv2 h1 {
  font-size: 75px;
  text-align: justify;
  color: var(--yellow-color);
}

.flex2 {
  margin: auto;

  text-align: center;
}

.animatedLink {
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid var(--greer-color);
  display: inline-block;
  cursor: pointer;
  color: var(--yellow-color);
  font-size: 25px;
  padding: 17px 57px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin-right: 50px;
  margin-top: 20px;
}

.animatedLink:hover {
  background-color: var(--greer-color);
  color: #ffffff;
  transform: translateY(-10px);
}

.animatedLink2 {
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid var(--greer-color);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 25px;
  padding: 17px 57px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin-right: 20px;
}

.animatedLink2:hover {
  background-color: var(--greer-color);
  transform: translateY(-10px);
}

.listStyleTypeNone {
  list-style-type: none;
}


.h11 {
  padding-left: 100px;
}

.h22 {
  padding-left: 150px;
}

.h33 {
  padding-left: 200px;
}

.h44 {
  padding-left: 250px;
}

.paper {
  padding: 10px;
  max-width: 300px;
  opacity: 0.9;
}

.flexDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paperProfile {
  padding: 10px;
  max-width: 300px;
  opacity: 1;
  margin: auto;
  margin-top: 100px;
}


.exerciseFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:fit-content;
  max-width: 100%;

}

.paperRun {
  padding: 10px;
  max-width: 300px;
  opacity: 0.9;
  margin: auto;
  margin-top: 100px;
  background: aqua;
}

.paperOCR {
  padding: 10px;
  max-width: 300px;
  opacity: 0.9;
  margin: auto;
  margin-top: 100px;

}


.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;

}

.profile_info {
  display: flex;
  margin: 20px;
}

.profile_stats {
  display: flex;
  margin: 20px;
}

.loginBG {
  padding: 150px;
  background-image: url(/src/sources/img_legs.jpg);
  background-size: cover;
  display: flex;
  flex-flow: row;
  justify-content:center;
}

.paperProfile b {

  padding: 10px;
  color: var(--greer-color)
}

.Logout {
  text-align: center;
  padding: 20px;
}

.paper h1 {
  font-size: 30px;
}

.hr-line {
  border: none;
  border-top: 1px solid rgb(0, 0, 0);
  margin: 0;
}

.createTrainingDiv{
  display: flex; margin: auto;
  padding : 25px;
  flex-direction: row;
  justify-content: center;
}
.trainingDiv1{
  display: flex;
}

footer {
  background-color: var(--greer-color);
  color: #000000;
  padding: 30px;
  text-align: center;
}

.divupdate {
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  width:fit-content;
 
}


.header {
  font-size: x-large;
  padding: 10px 0px;
  text-align: center;
  font-weight: 400;
}

.displayTodayTraining {
  padding: 20px;
  max-width: 250px;
  opacity: 0.9;
  margin: 10px;
  
}
.displayTodayTraining p {
  color:var(--greer-color);
}

.displayTomorrowTraining {
  padding: 20px;
  max-width: 250px;
  opacity: 0.9;
  margin: 10px;
 
}
.displayTomorrowTraining p {
  color:var(--greer-color);
}

.displayProgress {
  padding: 20px;
  max-width: 250px;
  opacity: 0.9;
  margin: 10px;
 
}
.displayTraining{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.paperExercise {
  padding: 10px;
  max-width:600px;
  opacity: 1;
  margin: 20px;
  display: flex;
}

.exerciseFoodDisplay{
  max-width: 550px;
}









@media (max-width: 600px) {
  .nav {
   display: flex;
   flex-direction: column;
    align-items: center;

  }
  .logo{
    margin: auto;
  }
  
  
  .logo_image {
    width: 100px;
 
    }

  .nav ul {
    display: flex;
    flex-direction: column;
  }

  .nav ul li {
    margin: auto;
    padding-top: 10px;
  }
  .localizationButton{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .nav ul .c-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    padding: 0;
  }
  
  .nav ul :hover {
    color: #ffffff;
  }
  
  .nav ul .loginnav {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    padding: 0;
  }

  
  .nav ul .registernav {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    padding: 0;
  }
  
  
.welcomeDiv1 {
  color: #ffffff;
  text-align: left;
  padding: 15px 20px;
  background-image: url(/src/sources/img_runners.jpg);
  background-image:
    linear-gradient(45deg,
      rgba(27, 90, 25, 0.836),
      rgba(161, 63, 6, 0.57)), url(/src/sources/img_runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flexDiv {
  background-image: no-repeat url(/src/sources/racing_track.jpg);
  background-image:
    linear-gradient(45deg,
      rgba(27, 90, 25, 0.836),
      rgba(161, 63, 6, 0.57)), url(/src/sources/racing_track.jpg);
  display:block;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcomeDiv1 p {
  padding: 20px;
  font-size: medium;
}

.welcomeDiv1 h1 {
  font-size: x-large;
  text-align: center;
  color: var(--yellow-color);
}

.welcomeDiv2 {

  text-align: left;
  padding: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;

}

.welcomeDiv2 h1 {
  font-size: x-large;
  text-align: justify;
  color: var(--yellow-color);
}

.flex2 {
  margin: auto;
  text-align: center;
}

.animatedLink {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid var(--greer-color);
  display: inline-block;
  cursor: pointer;
  color: var(--yellow-color);
  font-size:large;
  padding: 10px 35px;
  margin: auto;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin : 20px;
}

.animatedLink:hover {
  background-color: var(--greer-color);
  color: #ffffff;
  transform: translateY(-10px);
}

.animatedLink2 {
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid var(--greer-color);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: large;
  padding: 10px 35px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin : 20px;
}

.animatedLink2:hover {
  background-color: var(--greer-color);
  transform: translateY(-10px);
}

.h11,.h22,.h33,.h44 {
  padding: 15px 0 0 100px;
  margin: auto;
}

footer {
  background-color: var(--greer-color);
  color: #000000;
  padding: 20px;
  text-align: center;
  font-size: small;
}
footer a{font-size: small;}

.loginBG {
  padding: 20px;
  padding-bottom:  250px;
  background-image: url(/src/sources/img_legs.jpg);
  background-size: cover;
  display: block;
  justify-content:center;
}
.paper {
  padding: 20px;
  max-width: 250px;
  opacity: 0.9;
  margin: 10px;
}

.profile {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: auto;

}

.profile_info {
  margin: 0%;
  padding: 0%;
}

.profile_stats {
 margin: auto;
}
.paperProfile {
  padding: 10px;
  max-width: 300px;
  opacity: 1;
  margin: 20px;;
  
}


.trainingDiv {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.createTrainingDiv{
  display: inline; margin: auto;
  padding : 25px;
  justify-content: center;
}

.trainingDiv1 {
  display:inline;
  padding: 20px;

}

.exerciseFlex{
  display:block;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: auto;
 
}

.displayTodayTraining {
  padding: 20px;
  max-width: 250px;
  opacity: 0.9;
  margin: 10px;
  
}

.displayTomorrowTraining {
  padding: 20px;
  max-width: 250px;
  opacity: 0.9;
  margin: 10px;
 
}

.displayProgress {
  padding: 20px;
  max-width: 250px;
  opacity: 0.9;
  margin: 10px;
 
}

.displayTraining{
  display:block;
  flex-direction: row;
  justify-content: center;
}
.paperExercise {
  padding: 10px;
  width:330px;
  opacity: 1;
  margin: 20px;
  display: flex;
}
.exerciseFoodDisplay{
  max-width: 320px;
  font-size: small;
}


}












@media (min-width: 600px) and (max-width: 991px) {
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--greer-color);
    color: rgb(98, 65, 218);
    padding: 10px 10%;
  }
  
  
  .nav ul {
    list-style: none;
    display: flex;
  }
  
  .nav li {
    padding: 0px 20px;
  }
  
  .nav ul .c-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    padding: 10px 15px;
  }
  
  .nav ul .c-link:hover {
    color: #ffffff;
  }
  
  .nav ul .loginnav {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    padding: 10px 15px;
  }
  
  .nav ul .loginnav:hover {
    color: #ffffff;
  }
  
  .nav ul .registernav {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    padding: 10px 15px;
  }
  
  .nav ul .registernav:hover {
    color: #ffffff;
  }

  
.welcomeDiv1 {
  color: #ffffff;
  text-align: left;
  padding: 15px 20px;
  background-image: url(/src/sources/img_runners.jpg);
  background-image:
    linear-gradient(45deg,
      rgba(27, 90, 25, 0.836),
      rgba(161, 63, 6, 0.57)), url(/src/sources/img_runners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flexDiv {
  background-image: no-repeat url(/src/sources/racing_track.jpg);
  background-image:
    linear-gradient(45deg,
      rgba(27, 90, 25, 0.836),
      rgba(161, 63, 6, 0.57)), url(/src/sources/racing_track.jpg);
  display:flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcomeDiv1 p {
  padding: 30px;
  font-size: large;
}

.welcomeDiv1 h1 {
  font-size:xx-large;
  text-align: center;
  color: var(--yellow-color);
}

.welcomeDiv2 {

  text-align: left;
  padding: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;

}

.welcomeDiv2 h1 {
  font-size: xx-large;
  text-align: justify;
  color: var(--yellow-color);
}

.flex2 {
  margin: auto;
  text-align: center;
}

.animatedLink {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid var(--greer-color);
  display: inline-block;
  cursor: pointer;
  color: var(--yellow-color);
  font-size:large;
  padding: 10px 35px;
  margin: auto;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin : 20px;
}

.animatedLink:hover {
  background-color: var(--greer-color);
  color: #ffffff;
  transform: translateY(-10px);
}

.animatedLink2 {
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid var(--greer-color);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: large;
  padding: 10px 35px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  margin : 20px;
}

.animatedLink2:hover {
  background-color: var(--greer-color);
  transform: translateY(-10px);
}

.h11,.h22,.h33,.h44 {
  padding: 15px 0 0 100px;
  margin: auto;
}
.loginBG {
  padding: 20px;
  padding-bottom:  250px;
  background-image: url(/src/sources/img_legs.jpg);
  background-size: cover;
  
  justify-content:center;
}

.createTrainingDiv{
  display: block; margin: auto;
  padding : 25px;
  justify-content: center;
}

.trainingDiv1 {
  display:inline;
  padding: 20px;

}

.exerciseFlex{
  display: block;
  justify-content: center;
  width:fit-content;
 

}
.paperExercise {
  padding: 10px;
  width:600px;
  opacity: 1;
  margin: 20px;
  display: flex;
}
.exerciseFoodDisplay{
  max-width: 500px;
  font-size: small;
}


  
}